In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.datasets import make_regression
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler

In [2]:
# 
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='kgK1xfoIlhiAcKLqVg3ziX_wZXPd2XkrdFOcNepZN0nN',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'wqiprediction-donotdelete-pr-xszgognd9dayyh'
object_key = 'water_dataX.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

data = pd.read_csv(body)
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [3]:
data["Temp"]=pd.to_numeric(data["Temp"],errors='coerce')
data["D.O. (mg/l)"]=pd.to_numeric(data["D.O. (mg/l)"],errors='coerce')
data["PH"]=pd.to_numeric(data["PH"],errors='coerce')
data["CONDUCTIVITY (µmhos/cm)"]=pd.to_numeric(data["CONDUCTIVITY (µmhos/cm)"],errors='coerce')
data["B.O.D. (mg/l)"]=pd.to_numeric(data["B.O.D. (mg/l)"],errors='coerce')
data["NITRATENAN N+ NITRITENANN (mg/l)"]=pd.to_numeric(data["NITRATENAN N+ NITRITENANN (mg/l)"],errors='coerce')
data["TOTAL COLIFORM (MPN/100ml)Mean"]=pd.to_numeric(data["TOTAL COLIFORM (MPN/100ml)Mean"],errors='coerce')

In [4]:
data["Temp"].fillna(data["Temp"].mean(),inplace=True)
data["D.O. (mg/l)"].fillna(data["D.O. (mg/l)"].mean(),inplace=True)
data["PH"].fillna(data["PH"].mean(),inplace=True)
data["CONDUCTIVITY (µmhos/cm)"].fillna(data["CONDUCTIVITY (µmhos/cm)"].mean(),inplace=True)
data["B.O.D. (mg/l)"].fillna(data["B.O.D. (mg/l)"].mean(),inplace=True)
data["NITRATENAN N+ NITRITENANN (mg/l)"].fillna(data["NITRATENAN N+ NITRITENANN (mg/l)"].mean(),inplace=True)
data["TOTAL COLIFORM (MPN/100ml)Mean"].fillna(data["TOTAL COLIFORM (MPN/100ml)Mean"].mean(),inplace=True)
data.isnull().any()

STATION CODE                        False
LOCATIONS                           False
STATE                               False
Temp                                False
D.O. (mg/l)                         False
PH                                  False
CONDUCTIVITY (µmhos/cm)             False
B.O.D. (mg/l)                       False
NITRATENAN N+ NITRITENANN (mg/l)    False
FECAL COLIFORM (MPN/100ml)          False
TOTAL COLIFORM (MPN/100ml)Mean      False
year                                False
dtype: bool

In [5]:
data=data.rename(columns={'D.O. (mg/l)':'do'})
data=data.rename(columns={'PH':'ph'})
data=data.rename(columns={'CONDUCTIVITY (µmhos/cm)':'co'})
data=data.rename(columns={'B.O.D. (mg/l)':'bod'})
data=data.rename(columns={'NITRATENAN N+ NITRITENANN (mg/l)':'na'})
data=data.rename(columns={'TOTAL COLIFORM (MPN/100ml)Mean':'tc'})
data=data.rename(columns={'LOCATIONS':'location'})
data=data.rename(columns={'STATION CODE':'station'})
data=data.rename(columns={'STATE':'state'})

In [6]:
data.head()

,station,location,state,Temp,do,ph,co,bod,na,FECAL COLIFORM (MPN/100ml),tc,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,6.940049,0.1,11,27.0,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.000000,0.2,4953,8391.0,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179.0,1.700000,0.1,3243,5330.0,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64.0,3.800000,0.5,5382,8443.0,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83.0,1.900000,0.4,3428,5500.0,2014

In [7]:
data['npH']=data.ph.apply(lambda x: (100 if (8.5>=x>=7)
                                 else(80 if (8.6>=x>=8.5) or (6.9>=x>=6.8)
                                      else(60 if (8.8>=x>=8.6) or (6.8>=x>=6.7)
                                          else(40 if (9>=x>=8.8) or (6.7>=x>=6.5)
                                                else 0)))))


data['ndo']=data.do.apply(lambda x: (100 if (x>=6)
                                  else(80 if (6>=x>=5.1)
                                      else(60 if (5>=x>=4.1)
                                          else(40 if (4>=x>=3)
                                              else 0)))))

data['nco']=data.tc.apply(lambda x: (100 if (5>=x>=0)
                                          else(80 if (50>=x>=5)
                                            else(60 if (500>=x>=50)
                                              else(40 if (10000>=x>=500)
                                                else 0)))))


data['nbdo']=data.bod.apply(lambda x: (100 if (3>=x>=0)
                                          else(80 if (6>=x>=3)
                                            else(60 if (80>=x>=6)
                                              else(40 if (125>=x>=80)
                                                else 0)))))

data['nec']=data.co.apply(lambda x: (100 if (75>=x>=0)
                                          else(80 if (150>=x>=75)
                                            else(60 if (225>=x>=150)
                                              else(40 if (300>=x>=225)
                                                else 0)))))

data['nna']=data.na.apply(lambda x: (100 if (20>=x>=0)
                                          else(80 if (50>=x>=20)
                                            else(60 if (100>=x>=50)
                                              else(40 if (200>=x>=100)
                                                else 0)))))

In [8]:
data['wph']=data.npH*0.165
data['wdo']=data.ndo*0.281
data['wbdo']=data.nbdo*0.234
data['wec']=data.nec*0.009
data['wna']=data.nna*0.028
data['wco']=data.nco*0.281
data['wqi']=data.wph+data.wdo+data.wbdo+data.wec+data.wna+data.wco
data.head()

,station,location,state,Temp,do,ph,co,bod,na,FECAL COLIFORM (MPN/100ml),...,nbdo,nec,nna,wph,wdo,wbdo,wec,wna,wco,wqi
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,6.940049,0.1,11,...,60,60,100,16.5,28.10,14.04,0.54,2.8,22.48,84.46
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.000000,0.2,4953,...,100,60,100,16.5,22.48,23.40,0.54,2.8,11.24,76.96
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179.0,1.700000,0.1,3243,...,100,60,100,13.2,28.10,23.40,0.54,2.8,11.24,79.28
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64.0,3.800000,0.5,5382,...,80,100,100,13.2,22.48,18.72,0.90,2.8,11.24,69.34
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83.0,1.900000,0.4,3428,...,100,80,100,16.5,22.48,23.40,0.72,2.8,11.24,77.14

In [9]:
data.to_csv('fileWQI.csv')

In [10]:
X= data[['do','ph','co','bod','na','tc','year']]
Y= data['wqi']

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [12]:
rf = RandomForestRegressor(n_estimators=100,random_state=10).fit(X_train, Y_train)

In [22]:
from ibm_watson_machine_learning import APIClient
wml_credentials = {
    "url": "https://us-south.ml.cloud.ibm.com",
    "apikey": "Dxm10MHxowMQ_iEVpafO4u_6KLcFX-1GJ-YyS6WW-5Ki"
}
client = APIClient(wml_credentials)

In [23]:
def guid_from_space_name(client, space_name):
    space = client.spaces.get_details()
    return(next(item for item in space['resources'] if item['entity']['name'] == space_name)['metadata']['id'])

In [24]:
space_uid = guid_from_space_name(client, 'wqibank')
space_uid

'fefcf0da-9870-42f5-a1fd-a0e557e7e5d7'

In [25]:
client.set.default_space(space_uid)

'SUCCESS'

In [26]:
client.software_specifications.list()

-----------------------------  ------------------------------------  ----
NAME                           ASSET_ID                              TYPE
default_py3.6                  0062b8c9-8b7d-44a0-a9b9-46c416adcbd9  base
kernel-spark3.2-scala2.12      020d69ce-7ac1-5e68-ac1a-31189867356a  base
pytorch-onnx_1.3-py3.7-edt     069ea134-3346-5748-b513-49120e15d288  base
scikit-learn_0.20-py3.6        09c5a1d0-9c1e-4473-a344-eb7b665ff687  base
spark-mllib_3.0-scala_2.12     09f4cff0-90a7-5899-b9ed-1ef348aebdee  base
pytorch-onnx_rt22.1-py3.9      0b848dd4-e681-5599-be41-b5f6fccc6471  base
ai-function_0.1-py3.6          0cdb0f1e-5376-4f4d-92dd-da3b69aa9bda  base
shiny-r3.6                     0e6e79df-875e-4f24-8ae9-62dcc2148306  base
tensorflow_2.4-py3.7-horovod   1092590a-307d-563d-9b62-4eb7d64b3f22  base
pytorch_1.1-py3.6              10ac12d6-6b30-4ccd-8392-3e922c096a92  base
tensorflow_1.15-py3.6-ddl      111e41b3-de2d-5422-a4d6-bf776828c4b7  base
autoai-kb_rt22.2-py3.10        125b6d9a-5b1f-5e8d-972a-b251688ccf40  base
runtime-22.1-py3.9             12b83a17-24d8-5082-900f-0ab31fbfd3cb  base
scikit-learn_0.22-py3.6        154010fa-5b3b-4ac1-82af-4d5ee5abbc85  base
default_r3.6                   1b70aec3-ab34-4b87-8aa0-a4a3c8296a36  base
pytorch-onnx_1.3-py3.6         1bc6029a-cc97-56da-b8e0-39c3880dbbe7  base
kernel-spark3.3-r3.6           1c9e5454-f216-59dd-a20e-474a5cdf5988  base
pytorch-onnx_rt22.1-py3.9-edt  1d362186-7ad5-5b59-8b6c-9d0880bde37f  base
tensorflow_2.1-py3.6           1eb25b84-d6ed-5dde-b6a5-3fbdf1665666  base
spark-mllib_3.2                20047f72-0a98-58c7-9ff5-a77b012eb8f5  base
tensorflow_2.4-py3.8-horovod   217c16f6-178f-56bf-824a-b19f20564c49  base
runtime-22.1-py3.9-cuda        26215f05-08c3-5a41-a1b0-da66306ce658  base
do_py3.8                       295addb5-9ef9-547e-9bf4-92ae3563e720  base
autoai-ts_3.8-py3.8            2aa0c932-798f-5ae9-abd6-15e0c2402fb5  base
tensorflow_1.15-py3.6          2b73a275-7cbf-420b-a912-eae7f436e0bc  base
kernel-spark3.3-py3.9          2b7961e2-e3b1-5a8c-a491-482c8368839a  base
pytorch_1.2-py3.6              2c8ef57d-2687-4b7d-acce-01f94976dac1  base
spark-mllib_2.3                2e51f700-bca0-4b0d-88dc-5c6791338875  base
pytorch-onnx_1.1-py3.6-edt     32983cea-3f32-4400-8965-dde874a8d67e  base
spark-mllib_3.0-py37           36507ebe-8770-55ba-ab2a-eafe787600e9  base
spark-mllib_2.4                390d21f8-e58b-4fac-9c55-d7ceda621326  base
autoai-ts_rt22.2-py3.10        396b2e83-0953-5b86-9a55-7ce1628a406f  base
xgboost_0.82-py3.6             39e31acd-5f30-41dc-ae44-60233c80306e  base
pytorch-onnx_1.2-py3.6-edt     40589d0e-7019-4e28-8daa-fb03b6f4fe12  base
pytorch-onnx_rt22.2-py3.10     40e73f55-783a-5535-b3fa-0c8b94291431  base
default_r36py38                41c247d3-45f8-5a71-b065-8580229facf0  base
autoai-ts_rt22.1-py3.9         4269d26e-07ba-5d40-8f66-2d495b0c71f7  base
autoai-obm_3.0                 42b92e18-d9ab-567f-988a-4240ba1ed5f7  base
pmml-3.0_4.3                   493bcb95-16f1-5bc5-bee8-81b8af80e9c7  base
spark-mllib_2.4-r_3.6          49403dff-92e9-4c87-a3d7-a42d0021c095  base
xgboost_0.90-py3.6             4ff8d6c2-1343-4c18-85e1-689c965304d3  base
pytorch-onnx_1.1-py3.6         50f95b2a-bc16-43bb-bc94-b0bed208c60b  base
autoai-ts_3.9-py3.8            52c57136-80fa-572e-8728-a5e7cbb42cde  base
spark-mllib_2.4-scala_2.11     55a70f99-7320-4be5-9fb9-9edb5a443af5  base
spark-mllib_3.0                5c1b0ca2-4977-5c2e-9439-ffd44ea8ffe9  base
autoai-obm_2.0                 5c2e37fa-80b8-5e77-840f-d912469614ee  base
spss-modeler_18.1              5c3cad7e-507f-4b2a-a9a3-ab53a21dee8b  base
cuda-py3.8                     5d3232bf-c86b-5df4-a2cd-7bb870a1cd4e  base
runtime-22.2-py3.10-xc         5e8cddff-db4a-5a6a-b8aa-2d4af9864dab  base
autoai-kb_3.1-py3.7            632d4b22-10aa-5180-88f0-f52dfb6444d7  base
-----------------------------  ------------------------------------  ----
Note: Only first 50 records were displayed. To display more use 'limit' parameter.

In [27]:
software_spec_uid = client.software_specifications.get_uid_by_name('runtime-22.1-py3.9')
software_spec_uid

'12b83a17-24d8-5082-900f-0ab31fbfd3cb'

In [28]:
model_details = client.repository.store_model(model=rf, meta_props={
    client.repository.ModelMetaNames.NAME:"wqi_predictor",
    client.repository.ModelMetaNames.TYPE:"scikit-learn_1.0",
    client.repository.ModelMetaNames.SOFTWARE_SPEC_UID:software_spec_uid
})

In [30]:
model_id = client.repository.get_model_id(model_details)

In [31]:
pred = rf.predict(X_test)
metrics.r2_score(Y_test,pred)

0.9708947697439907

In [32]:
X_test.head()

      do   ph     co  bod        na      tc  year
918  7.4  7.0   38.0  0.9  0.260000  1196.0  2011
236  7.5  7.3   64.0  1.9  3.300000    42.0  2014
243  6.4  7.8  158.0  4.1  0.500000   500.0  2014
324  6.0  7.1   85.0  1.7  0.530000   538.0  2013
736  5.9  7.1  338.0  6.6  1.623079   522.0  2012

In [33]:
Y_test

918     82.94
236     94.18
243     83.52
324     82.76
736     67.06
        ...
14      82.94
435     50.20
106     79.46
1504    82.40
478     74.96
Name: wqi, Length: 399, dtype: float64

In [34]:
pred

array([82.907 , 94.18  , 81.557 , 82.76  , 70.4114, 83.7   , 87.66  ,
       38.29  , 66.189 , 81.6744, 88.5204, 81.6666, 66.0936, 72.86  ,
       82.04  , 83.7   , 61.4454, 77.8824, 81.1712, 77.7836, 82.94  ,
       93.6298, 70.8   , 66.2528, 75.9696, 85.2456, 79.4564, 76.3908,
       70.136 , 49.2534, 50.713 , 67.3466, 69.593 , 77.5582, 76.4326,
       72.06  , 85.2492, 83.6928, 61.2198, 88.4752, 67.0402, 88.56  ,
       84.4   , 91.3848, 83.1294, 45.1802, 70.5734, 70.8162, 72.8066,
       81.0882, 87.66  , 83.758 , 43.6398, 88.104 , 76.058 , 83.7   ,
       50.2   , 66.4962, 82.954 , 88.56  , 83.5182, 82.76  , 84.248 ,
       50.1626, 82.4238, 70.2028, 85.176 , 70.0438, 87.899 , 94.    ,
       66.0282, 75.8428, 78.4194, 82.76  , 82.04  , 57.1988, 87.7732,
       70.8768, 48.2406, 72.1368, 93.2836, 74.9566, 47.6084, 82.0026,
       81.446 , 62.6294, 66.4628, 79.4546, 78.8228, 78.342 , 71.4768,
       77.7826, 88.38  , 84.2266, 79.4564, 82.76  , 75.2878, 78.4696,
       71.0112, 87.66  , 76.005 , 72.9092, 77.4194, 82.76  , 82.94  ,
       46.5102, 88.862 , 46.3964, 70.244 , 85.2474, 88.5204, 48.2406,
       87.8212, 82.94  , 76.3908, 44.8344, 82.7398, 62.9522, 79.7036,
       79.6194, 82.9382, 87.66  , 48.8846, 76.3328, 55.82  , 79.8952,
       89.3128, 80.9866, 82.76  , 73.6674, 82.76  , 92.675 , 78.8576,
       82.706 , 82.94  , 87.66  , 79.64  , 93.7342, 87.7242, 78.1408,
       90.2974, 76.483 , 64.3096, 88.5038, 55.8668, 87.921 , 78.4274,
       44.1688, 72.0564, 88.047 , 83.7   , 77.1278, 79.4528, 82.7654,
       76.322 , 44.5404, 82.94  , 87.6636, 47.1296, 82.4   , 79.64  ,
       93.6934, 79.512 , 78.8102, 46.383 , 43.9354, 82.7874, 78.2346,
       67.8104, 68.0718, 66.309 , 82.94  , 65.9   , 71.4244, 68.9988,
       82.6016, 82.2472, 76.4558, 75.042 , 88.0164, 82.9836, 32.1312,
       78.085 , 85.2474, 60.5784, 88.2   , 82.76  , 64.8348, 47.7714,
       76.151 , 82.2162, 82.4504, 82.76  , 81.6044, 83.3598, 73.588 ,
       77.2284, 83.0524, 86.1802, 72.0154, 88.56  , 83.095 , 55.82  ,
       88.38  , 77.855 , 36.9376, 94.18  , 74.4762, 87.66  , 81.8534,
       88.5474, 72.9954, 82.6448, 84.603 , 73.031 , 88.38  , 82.8152,
       77.596 , 55.49  , 50.1912, 74.2452, 48.538 , 76.9948, 88.38  ,
       88.0218, 78.9632, 82.76  , 88.3332, 50.093 , 82.766 , 79.4528,
       87.4834, 88.56  , 56.7268, 71.1726, 66.2186, 83.799 , 69.7688,
       49.1188, 88.433 , 76.372 , 83.6928, 79.64  , 83.7   , 78.6276,
       66.4776, 83.5182, 72.1348, 79.64  , 35.2204, 67.7942, 82.8276,
       66.0282, 87.6636, 73.9476, 72.813 , 83.7   , 83.3532, 66.506 ,
       76.322 , 63.4712, 71.0092, 70.7462, 82.58  , 82.76  , 66.018 ,
       88.38  , 70.4032, 88.286 , 70.6872, 90.3426, 61.4454, 88.455 ,
       88.38  , 94.18  , 88.1856, 88.38  , 88.38  , 77.0148, 88.56  ,
       66.44  , 60.6886, 82.584 , 88.38  , 82.76  , 82.1336, 79.376 ,
       54.365 , 71.529 , 64.9072, 31.4148, 87.66  , 71.13  , 71.7418,
       60.9016, 71.4196, 64.9694, 82.98  , 58.2878, 82.5386, 55.754 ,
       76.6288, 71.1714, 79.64  , 87.6636, 83.7   , 82.04  , 72.1144,
       78.9974, 72.1758, 94.18  , 83.5164, 79.244 , 66.2708, 78.7508,
       61.7784, 82.94  , 66.067 , 65.7582, 59.4802, 77.9734, 77.3066,
       66.067 , 76.9164, 55.82  , 61.44  , 87.66  , 75.242 , 83.7   ,
       87.6636, 81.7686, 69.9894, 79.6962, 89.0456, 82.04  , 72.1786,
       82.9382, 72.6504, 82.76  , 94.147 , 86.5726, 82.5118, 88.2168,
       71.1428, 49.903 , 93.1878, 82.94  , 73.3766, 89.0054, 82.76  ,
       83.385 , 82.94  , 88.5252, 82.76  , 56.4976, 88.56  , 41.23  ,
       66.44  , 93.4016, 82.94  , 82.58  , 73.0468, 84.2548, 88.0164,
       67.487 , 71.8782, 64.7686, 85.1282, 29.8524, 77.3924, 83.0268,
       68.1704, 48.4866, 82.076 , 61.8018, 93.2146, 82.04  , 77.1184,
       82.5012, 40.2668, 73.04  , 78.7508, 33.4568, 88.038 , 93.64  ,
       66.3864, 82.94  , 76.1074, 79.64  , 80.2174, 88.56  , 93.1208,
       33.6344, 88.3782, 74.424 , 50.167 , 79.451 , 82.4   , 76.0878])

In [35]:
heart_Disease={'do':[7.4],'ph':[6.6],'co':[64],'bod':[0.7],'na':[0.29],'tc':[1425],'year':[2009]}
df2 = pd.DataFrame(heart_Disease,columns= ['do','ph','co','bod','na','tc','year'])
Y_pred=rf.predict(df2)
print (Y_pred)

[73.04]